* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  font-family: "Ubuntu Mono";
  font-size: 1.5em;
  background-color: #282a36;
  color: #f8f8f2;
}

// Styles on classes (see eww.yuck for more information)

.sideWidgets slider {
  all: unset;
  color: #ffd5cd;
  padding: 3px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #ff5555;
  color: #6272a4;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #44475a;
  border-radius: 10px;
  min-height: 3px;
  min-width: 70px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspaces-widget {
  all: unset;
  color: #bd93f9;
}

.music {
    color: #8be9fd
}
